<main class="main">
  <section class="main__section1">
    <h2></h2>
    <form action="#">
      <input class="js-input" type="text" placeholder="Busca un cóctel" />
      <input class="js-searchBtn" type="button" value="Buscar" />
      <input class="js-resetBtn" type="reset" value="Reset" />
    </form>
  </section>
  <section class="main__section2">
    <article class="main__list">
      <h3 class="main__list--title">Resultados</h3>
      <ul class="js-cocktails"></ul>
    </article>
    <article class="main__list">
      <h3 class="main__list--title">Favoritos</h3>
      <ul class="js-favourites"></ul>
    </article>
  </section>
</main>
