.main {
  &__section2 {
    background-image: url("../images/background.png");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &__list {
    background-color: white;
    width: 300px;
    border: 5px solid #814acb;
    border-radius: 10px;
    text-align: center;
    &--title {
      font-family: "Zeyada", cursive;
      font-size: 30px;
      font-weight: 800;
      padding: 10px;
    }
    &--cocktails {
      padding-bottom: 10px;
    }
    &--name {
      font-family: "Zeyada", cursive;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 5px;
    }
    &--img {
      height: 170px;
      width: 130px;
    }
    &--container {
      display: flex;
      justify-content: space-between;
    }
    &--btn {
      background-color: #814acb;
      border: none;
      border-radius: 5px;
      height: 30px;
      margin: 8px 15px 0;
      text-align: end;
    }
  }
}

.selected {
  border: 5px solid #814acb;
  background-color: #814acb;
  color: white;
}

.fa-solid {
  margin-left: 10px;
}
