.footer {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  &__text {
    font-family: $mainFont;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
  }
  &__link {
    text-decoration: none;
    cursor: pointer;
    color: $mainColor;
  }
  &__small {
    font-family: $mainFont;
    font-size: 20px;
  }
}
