.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 25px;
  &__title {
    font-family: "Zeyada", cursive;
    font-size: 80px;
    font-weight: 700;
  }
  &__logo {
    height: 100px;
    width: 120px;
  }
  &__form {
    text-align: end;
    position: relative;
    bottom: 90px;
  }
  &__input {
    border: 2px solid #814acb;
    border-radius: 5px;
    font-family: "Zeyada", cursive;
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 3px;
  }
  &__btn {
    background-color: #814acb;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 0 15px;
  }
}
