.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 25px;
  &__title {
    font-family: "Zeyada", cursive;
    font-size: 80px;
    font-weight: 700;
  }
  &__logo {
    height: 100px;
    width: 120px;
  }
}

.fa-solid {
  margin-left: 10px;
}
