@import "core/variables";
@import "core/reset";
@import "layout/page";
@import "layout/header";
@import "layout/footer";

.imgCocktail {
  height: 295px;
  width: 210px;
}

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
